<!DOCTYPE html>
<html>
<head>
    <title> Emag Products </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home_style.css')}}">
</head>
<body>
    <h1 style="text-align: center;">Available Products</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Store</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.store }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>